# --- Test Çalıştırıcı ve Raporlama ---
pytest
pytest-html
allure-pytest

# --- Playwright Otomasyonu (Modern) ---
playwright
pytest-playwright

# --- Selenium Otomasyonu (Eski) ---
selenium
webdriver-manager

# --- Data Driven Testing (Excel Okuma) ---
openpyxl

PyYAML==6.0.2
faker
